base_cluster_name: "demo"    # Base  name for the simlated clusters  
no_clusters: 99              # Max clusters to simulate
input_dir: "./metrics-org"   #  Currently not used   
output_dir: "./metrics-new"  # Output folder fro extract metrics 
input_file: "./metric.json"  # Single input file

